@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow-x: hidden;
    background: rgb(249,67,162);
    background: linear-gradient(90deg, rgba(249,67,162,1) 0%, rgba(238,227,0,1) 100%);
}

section {
    min-height: 100vh;
    background: rgb(249,67,162);
    background: linear-gradient(90deg, rgba(249,67,162,1) 0%, rgba(238,227,0,1) 100%);
}
a{
    text-transform: capitalize;
}
.header {
    background-color: #ffff;
    position: fixed;
    width: 100%;
    z-index: 3;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

.header li a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 22px;
    font-weight: 500;
    color: black;
}

.header li a:hover,
.header .menu-btn:hover {
    background-color: #f4f4f4;
}


.menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

.menu-icon {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

.navicon:before,
.navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.navicon:before {
    top: 5px;
}

.navicon:after {
    top: -5px;
}


.menu-btn {
    display: none;
}

.menu-btn:checked~.menu {
    max-height: 480px;
}

.menu-btn:checked~.menu-icon .navicon {
    background: transparent;
}

.menu-btn:checked~.menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.menu-btn:checked~.menu-icon .navicon:after {
    transform: rotate(45deg);
}

.menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
.menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
    top: 0;
}


@media (min-width: 768px) {
    .header li {
        float: left;
    }
    .header .menu {
        clear: none;
        display: flex;
        justify-content: center;
        max-height: none;
    }

    .header .menu-icon {
        display: none;
    }
}


.main-container {
    background-image: url('./img1.jpg');
    background-size: cover;
    background-position: center;
    height: 84vh;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0px 50px;
}

.message-container {
    padding: 40px;
    background-color: rgba(228, 90, 90, 0.692);
    color: white;
    text-align: left;
    width: 540px;
}

.message-heading {
    font-size: 44px;
    font-weight: bold;
    text-transform: uppercase;
}

.message-body {
    font-size: 20px;
    font-weight: 300;
    margin-top: 10px;
}





#order-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

#order-page .title {
    font-size: 48px;
    color: white;
    text-transform: capitalize;
    font-weight: bold;
    text-align: center;
}

.items-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.items {
    width: 320px;
    background-color: white;
    border-radius: 0px 65px 0px 65px;
    padding: 20px;
    text-align: center;
    overflow: hidden;
}

.item-img {
    height: 300px;
    width: 100%;
    border-radius: 0px 65px 0px 0px;
}

.item-title {
    margin-top: 10px;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

.item-details {
    font-size: 16px;
    margin-top: 10px;
}

.order-btn {
    width: fit-content;
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
    border-radius: 30px;
    padding: 15px 50px;
    color: black;
    background-color: rgba(255, 255, 255, 0.192);
    border: none;
    margin-bottom: 60px;
    cursor: pointer;
}